.color_grade{
    color: #81689D;
}

h1{
    font: 50px "Vujahday Script";
    color: aliceblue;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 1vh;
    border-bottom: 2px Solid #81689D;
    text-align: center;
}

body{
    background-color: #0c0c0ce0;
    background-image: url("vectors//bg_doodle.png");
    background-size: cover;
    background-blend-mode:darken;
}