.leftNavBarBackground{
    display: block;
    background-color: #0c0c0ce0;
    background-image: url("vectors//bg_doodle.png");
    background-size: 50vh;
    background-blend-mode:darken;
    float: left;
    /*padding-bottom: 88vh;*/
    width: 25vh;
    box-shadow: 0px 0px 1px 1px #81689D inset;
}

.leftNavBarStyling{
    margin-top: 3rem;
    margin-left: 2vh;
    list-style-type: none;
    color: aliceblue;
    font-size: larger;
}

.leftNavBarStyling li{
    margin-top: 3vh;
    border: #81689D 1px solid;
    padding-left: 2vh;
    padding-top: 1vh;
    box-shadow: 0px 0px 2px #81689D;
    border-radius: 5px;
    width: 19vh;
    height: 4vh;
    text-align: left;

}

.leftNavBarStyling a:link{
    color: aliceblue;
}

.leftNavBarStyling a:active{
    color: aliceblue;
}
.leftNavBarStyling a:visited{
    color: aliceblue;
}

.leftNavBarStyling a:hover{
    color: aliceblue;
}

.leftNavBarStyling a{
    text-decoration: none;
}


body{
    background-color: #0C0C0C;
    margin-left: 0%;
    margin-top: 0%;
    overflow: hidden;
}

iframe{
    width: 400px;
    height: 99.8vh;
    border: 1px solid #81689D; 
}
