.head_color_grade{
    color: #81689D;
    text-shadow: -1px 0px 0px aliceblue;
}

h1{
    font: 30px "Nata Sans";
    color: aliceblue;
    margin-top: 1vh;
    margin-left: 1vh;
    padding-top: 0%;
    /*border-bottom: 2px solid #81689D;*/ 
    text-align: left;
    padding-bottom: 2vh;
    margin-bottom: 0%;
}

.header_section{
    display:flex;
    padding-bottom: 0%;
}

.img_newchat{
    margin: 2vh 0vh 0vh 20vh;
    cursor: pointer;
}

.img_menudots{
    margin: 2vh 0vh 0vh 5vh;
    padding-top: 4px;
    cursor: pointer;
}

.show_newchat{
    display: none;
    color: aliceblue;
    margin-top: 7vh;
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 1%;
    position: absolute;    
    margin-left: 36vh;
    text-align: right;
    
}

.show_menu{
    display: none;
    color: aliceblue;
    margin-top: 7vh;
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 1%;
    position: absolute;    
    margin-left: 44vh;
    text-align: right;
    
}

.srch_styling{
    background-color: #1b1b1b;
    width: 44vh;
    height: 4.5vh;
    border-radius: 20px;
    margin-left: 1vh;
    margin-top: 0%;
    padding-left: 2vh;
    font-family: "Merriweather";
    font-size: large;
    color: aliceblue;
    outline: none;
    border: none;
}

.srch_styling:focus{
    border: 1px solid #81689D;
}

body{
    background-color: #0c0c0c;
    background-image: url("../../vectors/bg_doodle.png");
    background-size: cover;
    background-blend-mode:darken;
    margin-top: 0%;
    padding-top: 0%;
}