.head_color_grade{
    color: #81689D;
    text-shadow: -1px 0px 0px aliceblue;
}

h1{
    font: 50px "Charm";
    color: aliceblue;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 1vh;
    border-bottom: 2px solid #81689D;
    text-align: center;
}

body{
    background-color: hsla(0, 0%, 5%, 0.920);
    background-image: url("../../vectors/bg_doodle.png");
    background-size: cover;
    background-blend-mode:darken;
}