.leftNavBarBackground{
    background-color: hsla(0, 0%, 5%, 0.920);
    background-image: url("../../vectors//bg_doodle.png");
    background-size: 50vh;
    background-blend-mode:darken;
    float: left;
    width: 10vh;
    /*padding-bottom: 88vh;*/
    transition: width 0.5s ease-in-out;
    box-shadow: 0px 0px 1px 1px #81689D inset;
}

.leftNavBarStyling{
    margin-top: 3rem;
    list-style-type: none;
    color: aliceblue;
    font-size: larger;
}

.leftNavBarStyling ul{
    margin-top: 3vh;
    margin-left: 2vh;
    padding-left: 1vh;
    /* 
    border: #81689D 1px solid; 
    box-shadow: 0px 0px 2px #81689D;
    border-radius: 5px;
    */
    transition: box-shadow 0.5s ease-in-out;
    padding-top: 1vh;
    width: 19vh;
    height: 4vh;
    list-style-type: none;
}

.leftNavBarStyling ul a li{
    display: block;
    float: left;
}

.leftNavBarStyling ul a .slidingLeftNavBar{
    display: none;
}

.leftNavBarStyling ul:hover .slidingLeftNavBar{
    display: block;
}

.leftNavBarStyling a:link{
    color: aliceblue;
}

.leftNavBarStyling a:active{
    color: aliceblue;
}
.leftNavBarStyling a:visited{
    color: aliceblue;
}

.leftNavBarStyling a:hover{
    color: aliceblue;
}

.leftNavBarStyling a{
    text-decoration: none;
}

.color_grade{
    color: aliceblue;
    background-color: #81689D;
    border-radius: 50%;
    padding-left: 0.5vh;    
    padding-right: 0.5vh;
    text-align: center;    
}

body{
    background-color: #0C0C0C;
    margin-left: 0%;
    margin-top: 0%;
    overflow: hidden;
}

iframe{
    width: 400px;
    height: 99.8vh;
    border: 1px solid #81689D; 
}
